.App {
  text-align: center;
}

.addExpense{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left:35%;
  margin-top:15vh;
  overflow:hidden
}

.h1-addIncome,.h1-addExpense{
  display: flex;
  margin:2%;
  padding-left: 2%;
}

.expense-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.income_title{
  display: flex;
  flex-wrap: wrap;
}

.incomeIcon{
  margin-top:2%;
}

.dataTable{
  margin:5%;
}

.MuiDataGrid-renderingZone, .MuiDataGrid-root .MuiDataGrid-row  .MuiDataGrid-columnHeaders{
  padding: 0px 20px;
  text-align: center;
  justify-content: center;
}

.MuiDataGrid-columnHeadersInner{
  text-align: center;
}

.sum{
  display: flex;
  justify-content: center;
 align-items: center;
 gap:20px;
}
